<template>
  <div id="dashboard">
    <PostCard v-for="post in post.posts" :key="post.id" :post="post" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import PostCard from "@/components/PostCard.vue";
export default {
  name: "Dashboard",
  components: {
    PostCard
  },
  created() {
    this.$store.dispatch("post/fetchPosts");
  },
  computed: {
    ...mapState(["post"])
  }
};
</script>

<style scoped>
</style>