<template>
  <div>
    <h1>Events for {{ user.user.name }}</h1>
    <event-card v-for="event in event.events" :key="event.id" :event="event" />
    <template v-if="page != 1">
      <router-link :to="{ name: 'event-list', query:{ page: page-1 } }" rel="prev">Prev Page</router-link>|
    </template>
    <router-link :to="{ name: 'event-list', query:{ page: page+1 } }" rel="next">Nex Page</router-link>
  </div>
</template>

<script>
import EventCard from "@/components/EventCard.vue";
import { mapState } from "vuex";
export default {
  name: "EventList",
  components: {
    EventCard
  },
  created() {
    this.$store.dispatch("event/fetchEvents", {
      perPage: 3,
      page: this.page
    });
  },
  computed: {
    page() {
      return parseInt(this.$route.query.page) || 1;
    },
    hasNextPage() {
      return this.event.eventsTotal > this.page * this.perPage;
    },
    ...mapState(["event", "user"])
  }
};
</script>

<style scoped>
.router-link {
  text-decoration: none;
}
</style>