<template>
  <div class="list-div" style="margin-top: -10px">
    <v-list-item class="list-item-class mt-2">
      <v-list-item-avatar color="gray">
        <img :src="user.userPicture" />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title color="success">{{comment.creator.name}}</v-list-item-title>
        <p class="comment-description">{{ comment.description }}</p>
        <v-list-item-subtitle>6:00</v-list-item-subtitle>
      </v-list-item-content>
      <v-btn
        v-on:click="editComment"
        @click="selected.edc = !selected.edc"
        :color="selected.edc ? color = 'success' : color=''"
        icon
      >
        <v-icon>mdi-circle-edit-outline</v-icon>
      </v-btn>
    </v-list-item>
  </div>
</template>

<script>
export default {
  name: "CommentComponent",
  props: {
    comment: Object,
    showComment: Boolean
  },
  data() {
    return {
      selected: {
        share: false,
        edc: false
      },
      user: {
        name: "George Fermin",
        phrase: '"La maxima"',
        userPicture: "https://randomuser.me/api/portraits/men/81.jpg"
      }
    };
  },
  methods: {
    commentMedia() {
      console.log("Upload media");
    },
    editComment() {
      console.log(this.datos);
    }
  }
};
</script>

<style scoped>
.icon-class {
  font-size: 20px !important;
}
.list-div {
  padding: 0 10px 15px 10px;
}
.list-item-class {
  background: #e8e6e1;
  border-radius: 100px;
}
.comment-description {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  font-size: 0.875rem;
}
.v-list-item .v-list-item__title {
  color: #4caf50;
}
</style>