<template>
  <div>
    <v-app-bar color="white" class="tool-bar-container" dark dense>
      <v-app-bar-nav-icon color="success" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title class="title">GeorgeBook</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn color="success" icon v-on="on">
            <v-icon>mdi-account-multiple</v-icon>
          </v-btn>
        </template>
        <span>Solicitudes</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn color="success" icon v-on="on">
            <v-icon>mdi-bell</v-icon>
          </v-btn>
        </template>
        <span>Notificaciones</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn @click="logout" color="success" icon v-on="on">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Salir</span>
      </v-tooltip>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" color="success" absolute temporary dark>
      <v-list dense nav class="py-0">
        <v-list-item two-line :class="'px-0'">
          <router-link to="/user_profile">
            <v-list-item-avatar>
              <img src="https://randomuser.me/api/portraits/men/81.jpg" />
            </v-list-item-avatar>
          </router-link>

          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
            <v-list-item-subtitle>{{ 'Lorem ipsu itstagame.' }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item v-for="item in items" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <router-link :to="item.path">
            <v-list-item-content class="link">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </router-link>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      drawer: false,
      items: [
        { title: "Inicio", icon: "mdi-view-dashboard", path: "/" },
        { title: "Fotos", icon: "mdi-image", path: "/user_images" },
        { title: "Grupos", icon: "mdi-account-group", path: "/user_groups" }
      ],
      user: JSON.parse(localStorage.getItem("user")).logged_user
    };
  },

  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>

<style scoped>
.title {
  color: #4caf50;
}
.tool-bar-container {
  padding: 0px 200px 10px 200px;
}
.v-application a {
  text-decoration: none !important;
}
.link {
  color: #fff;
}
</style>