<template>
  <div>
    <v-col cols="12" sm="12">
      <v-card max-width="500" class="mx-auto mb-5">
        <!-- :to="{ name: 'post-show', params: {id: post.id} }" -->
        <v-list-item>
          <v-list-item-avatar color="grey">
            <img src />
          </v-list-item-avatar>
          <v-list-item-content>
            <router-link
              class="event-link"
              :to="{ name: 'user', params: {username: post.creator.name} }"
            >
              <v-list-item-title class="headline">{{ post.creator.name }}</v-list-item-title>
            </router-link>
            <v-list-item-subtitle>{{ '6:00' }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-spacer></v-spacer>
          <v-btn
            v-on:click="savePost"
            @click="selected.bookmark = !selected.bookmark"
            :color="selected.bookmark ? color = 'success' : color=''"
            icon
          >
            <v-icon>mdi-bookmark</v-icon>
          </v-btn>
        </v-list-item>

        <v-img v-show="postImage" src height="250"></v-img>

        <v-card-text>{{ post.caption }}</v-card-text>

        <v-divider class="mt-6 mx-4"></v-divider>

        <v-card-actions class="action-icons">
          <v-btn
            v-on:click="reaction"
            @click="selected.like = !selected.like"
            :color="selected.like ? color = 'success' : color=''"
            icon
          >
            <v-icon>mdi-heart</v-icon>
          </v-btn>
          <v-btn @click="getComments" :color="selected.show ? color = 'success' : color=''" icon>
            <v-icon>mdi-comment-text</v-icon>
          </v-btn>
          <v-btn
            v-on:click="sharePost"
            @click="selected.share = !selected.share"
            :color="selected.share ? color = 'success' : color=''"
            icon
          >
            <v-icon>mdi-share-variant</v-icon>
          </v-btn>
        </v-card-actions>

        <!-- comments form -->
        <v-form @submit.prevent="onComment">
          <v-expand-transition>
            <div v-show="selected.show">
              <v-divider></v-divider>
              <v-list-item>
                <v-list-item-avatar color="grey">
                  <img :src="user.userPicture" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-col cols="12" sm="12">
                    <v-textarea
                      v-on:keyup.enter="onComment"
                      v-model="commentData.description"
                      placeholder="Comment. . ."
                      color="success"
                      auto-grow
                      filled
                      rows="1"
                      row-height="5"
                    ></v-textarea>
                  </v-col>
                </v-list-item-content>
                <v-btn
                  v-on:click="commentMedia"
                  class="mt-5"
                  @click="selected.share = !selected.share"
                  :color="selected.share ? color = 'success' : color=''"
                  icon
                >
                  <v-icon class="icon-class">mdi-camera</v-icon>
                </v-btn>
              </v-list-item>
              <!-- comment list -->
              <comment-component
                v-for="comment in comment.comments"
                :key="comment.id"
                :comment="comment"
              />
            </div>
          </v-expand-transition>
        </v-form>
      </v-card>
    </v-col>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CommentComponent from "@/components/CommentComponent.vue";
export default {
  name: "PostCard",
  components: {
    CommentComponent
  },
  props: {
    post: Object
  },
  methods: {
    ...mapActions(["deletePost", "updatePost"]),

    savePost() {
      console.log("save post");
    },
    sharePost() {
      console.log("share post");
    },
    reaction() {
      console.log("reaction");
    },
    onComment() {
      console.log(this.commentData);
    },
    commentMedia() {
      console.log("Upload media");
    },
    getComments() {
      if (this.selected.show === false) {
        this.$store.dispatch("comment/fetchComments", this.post.id).then(() => {
          this.selected.show = !this.selected.show;
        });
      } else {
        this.selected.show = !this.selected.show;
      }
    }
  },
  computed: {
    ...mapState(["comment"])
  },
  data() {
    return {
      postImage: false,
      selected: {
        show: false,
        like: false,
        share: false,
        bookmark: false
      },
      user: {
        name: "George Fermin",
        phrase: '"La maxima"',
        userPicture: "https://randomuser.me/api/portraits/men/81.jpg"
      },
      commentData: {
        userId: "",
        description: "",
        reaction: false
      }
    };
  }
};
</script>

<style scoped>
.event-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.action-icons {
  justify-content: space-around;
}
</style>