<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window v-model="step">
                <!-- Login -->
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1
                          class="text-center display-2 teal--text text--accent-3"
                        >Sing In GeorgeBook</h1>
                        <div class="text-center" mt-4>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mlt-4">Ensure your email for registration</h4>
                        <v-form autocomplete="off" @submit.prevent="onLogin">
                          <v-text-field
                            v-model="login.email"
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="email"
                            color="teal accent-3"
                          ></v-text-field>
                          <v-text-field
                            v-model="login.password"
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                          ></v-text-field>
                          <h3 class="text-center mt-3">Forgot your password ?</h3>
                          <div class="text-center mt-3">
                            <v-btn rounded color="teal accent-3" dark type="submit">SING IN</v-btn>
                          </div>
                        </v-form>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" sm="4" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Hello, friends !</h1>
                        <h4 class="text-center">Enter your credentials, and let's have fun !</h4>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step++">SING UP</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <!-- Register -->
                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" sm="4" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Welcome Back !</h1>
                        <h4 class="text-center">Already have an account? Let's Sing In !</h4>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step--">SING IN</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1
                          class="text-center display-2 teal--text text--accent-3"
                        >Create an account</h1>
                        <div class="text-center" mt-4>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mlt-4">Ensure your email for registration</h4>
                        <v-form autocomplete="off" @submit.prevent="onRegister">
                          <v-text-field
                            v-model="register.name"
                            label="Name"
                            name="Name"
                            prepend-icon="mdi-account"
                            type="text"
                            color="teal accent-3"
                            required
                          ></v-text-field>
                          <v-text-field
                            v-model="register.email"
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="email"
                            color="teal accent-3"
                            required
                          ></v-text-field>
                          <v-text-field
                            v-model="register.password"
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                            required
                          ></v-text-field>
                          <v-text-field
                            v-model="register.password_confirmation"
                            label="Confirm Password"
                            name="Password Confirmation"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                            required
                          ></v-text-field>
                          <div class="text-center mt-3">
                            <v-btn rounded color="teal accent-3" type="submit" dark>Create Account</v-btn>
                          </div>
                        </v-form>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      step: 1,
      error: null,
      login: {
        email: "",
        password: ""
      },
      register: {
        name: "",
        email: "",
        password: "",
        password_confirmation: ""
      }
    };
  },
  methods: {
    onLogin() {
      this.$store
        .dispatch("login", this.login)
        .then(() => {
          this.$router.push({ name: "dashboard" });
          location.reload();
        })
        .catch(err => {
          this.error = err.response;
        });
    },
    onRegister(valid) {
      if (this.valid) {
        this.$store
          .dispatch("register", this.register)
          .then(() => {
            this.$router.push({ name: "dashboard" });
            location.reload();
          })
          .catch(err => {
            this.error = err.response.data.error;
          });
      }
    },
    valid() {
      return this.password === this.password_confirmation;
    }
  }
};
</script>